@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

$primary-color    : black;
$secondary-color  : #B4CFFF;
$highlighted-color: #E3ECF2;
$dark-text-color  : #666;
$light-text-color : #bbb;
$error-color      : #FB6C89;
$warning-color    : #f4c22b;
$danger-color     : #C22424;
$success-color    : #3FA341;
$purple-color     : #a389d4;
$info-color       : #3ebfea;
$default-color    : #2a2a2a;
$light-color      : #f7f7f7;
$lighter-color    : #AEAEAE;
$lightest-color   : #EBEBEB;
$dark-color       : #2a2a2a;
$inverse-color    : $dark-color;
$body-bg-color    : #f8fafc;

.link {
    color: #79A7D8 !important;
}

.strong {
    font-weight: 600
}

.brad-10 {
    border-radius: 10px;
}

.brad-5 {
    border-radius: 5px;
}

.light-divider {
    display         : block;
    height          : 2px;
    background-color: $light-color;
    width           : 100%;
}

.add-btn {
    display         : inline-flex;
    justify-content : center;
    align-items     : center;
    background-color: $lightest-color;
    color           : $dark-text-color;
    padding         : 5px 10px;
    font-size       : 0.8rem;
    border-radius   : 5px;
    text-transform  : uppercase;
    font-weight     : 600;
    transition      : all 0.3s ease-in;
    border          : none;
    cursor          : pointer;
}

.add-btn:hover {
    box-shadow      : 0px 0px 2px #ddd;
    color           : $dark-text-color;
    background-color: $highlighted-color;
}

.cursor-pointer {
    cursor: pointer !important;
}

.breadcrumbs {
    padding    : 10px 10px 10px 0px !important;
    margin-left: 0px !important;
    display    : flex;

    .breadcrumb-item {
        padding-left  : 10px;
        text-transform: uppercase;
        font-size     : 0.8rem;
        font-weight   : 600;
        color         : $dark-text-color;

        &:first-child {
            padding-left: 0px;
        }
    }

    .breadcrumb-item::before {
        color: $dark-text-color;
    }
}

.nav-tabs {
    font-size: 0.8rem !important;
    color    : $light-text-color !important;

    a {
        color      : $light-text-color !important;
        font-weight: 600;
    }

    a[aria-selected="true"] {
        color        : $dark-text-color !important;
        border       : none !important;
        border-bottom: 3px solid $primary-color !important;
    }

    a[aria-selected="false"] {
        border       : none !important;
        border-bottom: 3px;
    }
}

.tab-content {
    background-color: white;
    padding         : 15px;
}


.form-check {
    .form-check-label {
        font-size    : 0.8rem !important;
        margin-bottom: 0 !important;
        color        : $dark-text-color;
    }
}

.custom-file {
    font-size: 0.7rem !important;
}


.pagination {
    justify-content: center;

    &>li {
        background-color: transparent;
        &>a {
            display         : block;
            padding         : 7px 20px;
            color           : $dark-text-color;
            font-size       : 1rem;
            background-color: $lightest-color;
            margin          : 4px;
        }

        &.active {
            &>a {
                opacity: 0.5;
                cursor: default;
            }
        }

        &.disabled {
            a {
                opacity: 0.25 !important;
                cursor: not-allowed !important;
            }
        }

        &:first-child,
        &:last-child {
            a {
                padding: 7px 14px;
            }
        }
    }
}

.card {
    border    : 1px solid eee;
    box-shadow: 0px 0px 15px #eee;
}