// .post-card{
//     display: block;
//     background-color: white;
//     padding: 10px;
//     margin-top: 10px;
//     border-radius: 7px;
//     box-shadow: 0px 0px 15px #eee;
// }
.post-card{
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 15px #ddd;
    cursor: pointer;
    .post-card-content{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 1.5;        
        max-height: 3;  
        cursor: pointer;     
    }
    .post-card-details{
        border-left : 2px solid #f7f7f7;
        padding: 20px;
    }
}