.category-tag {
    margin         : 5px;
    padding        : 7px 10px;
    border-radius  : 10px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    cursor         : pointer;
    transition     : all 0.3s ease;

    &:hover {
        background-color: red;
    }
}

.media-box {
    border       : 1px solid #eee;
    border-radius: 7px;
    padding      : 1rem;
    position     : relative;
    display      : inline-block;
}

.media-box-delete-btn {
    position        : absolute;
    top             : -15px;
    right           : -10px;
    background-color: white;
    cursor          : pointer;
}

.ql-editor {
    min-height: 200px;
    max-height: 400px;
    overflow-y: scroll;
}
.ql-toolbar{
    position: sticky !important;
}