@import '../../assets/scss/style.scss';
@import '../../assets/scss/main.scss';

.wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
}
#content{
    width: 100%;
    z-index: 2;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
