.hotline-modal{
    .modal-dialog{
        margin-top:5%;
        min-width:60vw;
    }
}
.select-option{
    padding: 20px !important;
}
.hotline-card{
    background-color: white;
    border: 1px solid #eee;
    border-radius: 7px;
    padding:20px;
    margin-bottom:20px;
}
.rc-time-picker-input{
    font-size: 1rem !important;
    padding: 10px !important;
    max-width: 150px;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
}
.rc-time-picker-input::placeholder{
    font-size: 0.8rem !important;
}
.rc-time-picker-panel-inner{
    background-color: white !important;
    font-size: 2rem !important;
}
.day-checkbox{
    display: none;
}
.day-checkbox-label{
    width: 50px;
    height: 50px;
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin:0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 7px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #ccc;
}
.day-checkbox:checked + .day-checkbox-label {
    box-shadow: 0 0 5px #B4CFFF; // rgba(81, 203, 238, 1);
    background-color: #B4CFFF; //rgba(81, 203, 238, 1);
    color: white;
  }