.calender-modal {
  .modal-dialog {
    max-width: 365px !important;

    .modal-body {
      .rdrCalendarWrapper {
        .rdrPprevButton {
          i {
            margin: 0 0 0 -4px;
          }
        }
        .rdrNextButton {
          i {
            margin: 0 0 0 -5px;
          }
        }
      }
    }
  }
}