.tab-content{
    // background-color: #162424 !important;
    background-color: rgba(22, 36, 36, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px #111;
    border-radius: 10px;
    color: #ccc;
    margin: 20px;
}
.custom-tabs{
    div{
        backdrop-filter: blur(20px);
        .nav-pills{
            padding : 20px;
            .nav-link.active{
                background-color: #cd4b4b !important;
                border-radius: 20px;
                color: white;
            }
            .nav-link{
                margin: 5px;
                background-color: transparent;
                border-radius: 20px;
                color: #cd4b4b;
            }
        }
    }
}


//MENU CATEGORY
.menu-category-item{
    background-color: #111;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    max-width: 500px;
}
