@import '../../assets/scss/custom.scss';

.category-tag {
    margin: 5px;
    padding: 7px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: red;
    }
}

.media-box {
    border: 1px solid #eee;
    border-radius: 7px;
    padding: 1rem;
    position: relative;
    display: inline-block;
}

.media-box-delete-btn {
    position: absolute;
    top: -15px;
    right: -10px;
    background-color: white;
    cursor: pointer;
}

.ql-editor {
    min-height: 200px;
    max-height: 400px;
    overflow-y: scroll;
}
.ql-toolbar {
    position: sticky !important;
}

.verify-now {
    cursor: pointer;
}
.verify-now:hover {
    background-color: #ddd !important;
}

//MENU
.menu-count-pill{
    display: inline-block;
    background-color: $secondary-color;
    font-size: 1rem;
    padding: 5px 20px;
    border-radius: 40px;
    margin-left: 20px;
}
.menu-item-container {
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px #111;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.menu-item-container:hover {
    background-color: $secondary-highlight-color;
    box-shadow: 0px 0px 20px #111;
}
.edit-item-controller {
    background-color: #162424;
}
.modal-backdrop {
    // -webkit-backdrop-filter: blur(10px);
    // -moz-backdrop-filter: blur(10px);
    // -o-backdrop-filter: blur(10px);
    // -ms-backdrop-filter: blur(10px);
    backdrop-filter: blur(20px);
}
.edit-item-modal {
    .modal-dialog {
        max-width: 800px;
        margin: 10rem auto;
        .modal-content {
            background-color: #202020;
            color: #ccc;
            .modal-body {
                padding: 30px;
            }
        }
    }
    .modal-backdrop{
        backdrop-filter: blur(30px) !important;
        background-color: #123123;
    }
    .modal-backdrop.in{
    opacity: 1 !important;
    }
}
.custom-upload-btn{
    background-color: #111 !important;
    padding: 7px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    color: #ccc;
}
.add-item-btn-container{
    position: fixed;
    right: 5%;
    z-index: 10;
}
.add-item-btn{
    background-color: #cd4b4b;
    padding: 7px 25px;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
}

.campaign-box{
    background-color: #111;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
}
.campaign-badge{
    margin-top: 10px;
    background-color: #122222;
    padding: 7px 10px;
    color: white;
    border-radius: 10px;
}

.dropdown-menu{
    z-index: 10000;
}