html, body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
body {
  font-family: $app-font-family;
  font-size: $app-font-size;
  color: $app-font-color;
  font-weight: 400;
  background: $app-background;
  position: relative;
}

* {
  &:focus {
      outline: none;
  }
}

a {
  cursor: pointer;
  &:hover {
      outline: none;
      text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $app-heading-color;
  font-weight: 400;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 14px;
}

// strong {
//   font-weight: 400;
// }

.img-radius {
  border-radius: 50%;
}

#root {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

  .page {
    &__wrapper {
      height: calc(100vh - 65px);
      padding: 0px 0px;

      .card {
        &-header {
          background-color: #FFF;
        }
      }

      .btn {
        box-shadow: none !important;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        
        li {
          list-style: none;
        }
      }
    }
  }
}