.tab-content{
    // background-color: #162424 !important;
    background-color: rgba(22, 36, 36, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px #111;
    border-radius: 10px;
    color: #ccc;
    margin: 20px;
}
.custom-tabs{
    div{
        backdrop-filter: blur(20px);
        .nav-pills{
            padding : 20px;
            .nav-link.active{
                background-color: #cd4b4b !important;
                border-radius: 20px;
                color: white;
            }
            .nav-link{
                margin: 5px;
                background-color: transparent;
                border-radius: 20px;
                color: #cd4b4b;
            }
        }
    }
}


//MENU CATEGORY
.menu-category-item{
    background-color: #111;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    max-width: 500px;
}


.category-container {
    margin: 5px;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(20px);
    padding: 15px;
    color: #aaa;
    border-radius: 10px;
    box-shadow: 0px 0px 7px #111;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.category-container:hover {
    background-color: #162424;
    box-shadow: 0px 0px 20px #111;
}

.custom-upload-btn{
    background-color: #111 !important;
    padding: 7px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    color: #ccc;
}
.edit-item-modal {
    .modal-dialog {
        max-width: 800px;
        margin: 10rem auto;
        .modal-content {
            background-color: #222;
            color: #ccc;
            .modal-body {
                padding: 30px;
            }
        }
    }
}