#post-status-dropdown{
    button{
        background-color: white;
        border: none;
        box-shadow: none;
        color: black;
    }
    .dropdown-menu{
        border: none;
        box-shadow: 0px 0px 15px #eee;
    }
}
.status-label{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #f7f7f7 !important;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.status-label-active{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #B4CFFF;
    text-transform: uppercase;
    font-size: 0.8rem;
} 
.post-detail-pagination-btn{
    margin-left: 10px;
    background-color: #eee !important;
    font-weight: 600;
    color: #666
}
.post-detail-pagination-btn:hover{
    background-color: #ccc !important;
}

.post-card{
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 15px #ddd;
    border-radius: 10px;
    cursor: pointer;
    .post-card-content{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 1.5;        
        max-height: 3;       
    }
    .post-card-details{
        border-left : 2px solid #f7f7f7;
        padding: 20px;
    }
}

.comment-card{
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
