  .dashboard-header {
    background-color: #222!important;
    color      : #111;
    font-weight: 600;
    font-size  : 1.5rem;
  }

  .topbar {
    background-color: #111 !important;
    position     : sticky;
    top          : 0;
    z-index      : 5000;
  }

  .topbar .navbar-collapse {
    padding: 0px
  }

  .topbar .top-navbar {
    min-height: 80px;
    padding   : 0px;
    background-color: #111 !important;
    box-shadow:0px 0px 15px #111;
  }

  .topbar .top-navbar .dropdown-toggle:after {
    display: none
  }

  .topbar .top-navbar .navbar-header {
    line-height: 60px;
    min-width  : 70px
  }

  .topbar .top-navbar .navbar-header .navbar-brand {
    margin-right  : 0px;
    padding-bottom: 0px;
    padding-top   : 0px
  }

  .topbar .top-navbar .navbar-header .navbar-brand img {
    max-width: 150px;
  }

  .topbar .top-navbar .navbar-header .navbar-brand b {
    line-height: 50px;
    display    : inline-block
  }

  .topbar .top-navbar .profile-pic {
    white-space: nowrap
  }

  .topbar .top-navbar .profile-pic img {
    width        : 30px;
    border-radius: 100%
  }

  .topbar .top-navbar .profile-pic span {
    font-size  : 14px;
    white-space: nowrap
  }

  .top-navbar .nav button {
    color: #111 !important;
  }

  .topbar .top-navbar .navbar-nav>.nav-item>.nav-link {
    padding-left : 15px;
    padding-right: 15px;
    font-size    : 25px;
    line-height  : 50px;
    color        : #777;
    padding-top  : 4px;
  }

  .topbar .top-navbar .navbar-nav>.nav-item>span {
    line-height: 45px;
    font-size  : 24px;
    font-weight: 500;
    color      : #fff;
    padding    : 0 10px;
  }

  .topbar .dropdown-menu {
    width          : 200px;
    border-radius  : 10px;
    box-shadow     : 1px 0px 20px black;
    border         : none;
    background     : #111;
    backdrop-filter: blur(20px);
    transform      : translate(0px, 50px) !important;
  }

  .topbar #effect {
    padding: 0px;
  }

  .topbar .dropdown-item {
    font-weight: 600;
    color      : #ddd;
    font-size  : 0.9rem;
    transition : all 0.3s ease;
  }

  .topbar .dropdown-item:hover {
    background-color: black !important;
    color           : white;
  }


  .nav ul,
  .nav ul li {
    list-style: none;
  }

  .multi-lang-flag {
    max-width: 20px;
  }


  .topbar .dropdown-menu.show {
    inset: 0px 0px auto auto !important;
  }

  .topbar #dropdown-basic:focus {
    border    : none !important;
    outline   : none !important;
    box-shadow: none !important;
  }

  .topbar .dropdown-divider {
    height: 2px;
  }

  .title {
    color      : rgba(0, 0, 0, 0.7);
    font-weight: 800;
  }

.notification-indicator{
  color: #B4CFFF;
}
.user-dropdown{
  .btn{
    background-color: #111;
  }
}