
#sidebar {
    position: sticky;
    width: 290px;
    min-height: 100vh !important;
    /* background-color: black; */
    transition: all 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    background: #111;
    padding: 15px;
}

#sidebar.active{
    width: 85px;
}

.sidemenu{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.9rem;
    color: #aaa !important;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 10px;
    border-radius: 20px;   

    &.active, &.active:hover{
        background-color: #cd4b4b;
        color: white !important;
    }
    
    &:hover{
        background-color: #111;
    }
}

.divider{
    display: block;
    width: 100%;
    margin: 0px auto;
    height: 1px;
    background-color: #444;
    position: relative;
}
.sidebar-icon{
    max-width:40px;
}
.sidebar-menu-label{
    color: #808080;
}
.sidebar-menu-active-label{
    font-weight: bold;
    color: #296DF1, 100%;
}