.custom-bg{
    background-color: black;
}
.login-container{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(85%2c 16%2c 16%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c457.122C96.957%2c448.833%2c199.202%2c489.121%2c285.748%2c444.632C374.992%2c398.756%2c420.842%2c302.02%2c470.903%2c215.054C525.719%2c119.827%2c625.418%2c19.294%2c590.572%2c-84.911C554.362%2c-193.196%2c390.064%2c-187.294%2c309.351%2c-268.054C237.602%2c-339.845%2c240.739%2c-470.687%2c153.379%2c-522.36C61.276%2c-576.838%2c-56.118%2c-570.391%2c-160.27%2c-545.831C-267.891%2c-520.453%2c-381.537%2c-475.367%2c-441.065%2c-382.185C-498.973%2c-291.538%2c-448.284%2c-173.093%2c-466.15%2c-67.022C-484.649%2c42.808%2c-575.707%2c142.3%2c-547.555%2c250.06C-518.66%2c360.665%2c-425.901%2c455.898%2c-318.974%2c496.333C-216.702%2c535.008%2c-108.943%2c466.436%2c0%2c457.122' fill='%23430d0d'%3e%3c/path%3e%3cpath d='M1920 1943.7640000000001C2081.967 1959.583 2229.508 1862.496 2368.826 1778.387 2511.601 1692.191 2694.364 1613.858 2734.561 1451.998 2775.122 1288.671 2602.937 1151.246 2565.308 987.219 2532.148 842.674 2594.351 685.683 2528.302 552.904 2453.443 402.41600000000005 2342.485 233.31899999999996 2176.656 205.90999999999997 2009.226 178.236 1882.393 353.74300000000005 1726.308 420.347 1593.641 476.95799999999997 1444.963 482.221 1328.7849999999999 567.709 1192.271 668.1610000000001 1039.156 782.2719999999999 1008.033 948.879 976.753 1116.3220000000001 1072.187 1282.821 1169.018 1422.962 1255.6480000000001 1548.339 1398.962 1609.048 1524.19 1695.893 1654.7559999999999 1786.44 1761.8609999999999 1928.319 1920 1943.7640000000001' fill='%23671313'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
}
.brand-logo{
    max-width: 40px;
}
.brand-name{
    font-size: 2rem;
    color: white;
}
.login-box{
    background-color: #111;
    min-width: 340px;
    border-radius: 7px;
    box-shadow: 0px 0px 20px #111;
}