.login-container{
    height:100vh;
    width: 100vw;
    background-color: black;
}
.brand-logo{
    max-width: 40px;
}
.brand-name{
    font-size: 2rem;
    color: white;
}
.login-box{
    min-width: 340px;
    border-radius: 7px;
}