.contact-display-box{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 7px;
    box-shadow: 0px 0px 20px #f6f6f6;
}
.hotline-card{
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #eee;
    transition: all 0.3s ease;
}
.hotline-card:hover{
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px #ccc;
}
.edit-time-modal{
    .modal-content{
        margin-top: 10rem;
    }
}