@import '../../assets/scss/custom.scss';

.total-data-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background-color: $secondary-color;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px #111;
    .total-data{
        color: white;
        font-size: 4rem;
    }
    .total-data-label{
        text-transform: uppercase;
        color: #aaa;
    }
}
.chart-container{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 25px #111;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
}