.dashboard-header {
  color      : #111;
  font-weight: 600;
  font-size  : 1.5rem;
}

.topbar {
  position     : sticky;
  top          : 0;
  z-index      : 5000;
  background   : #fff;
  border-bottom: 1px solid #E5E7EB;
}

.topbar .navbar-collapse {
  padding: 0px
}

.topbar .top-navbar {
  min-height: 64px;
  padding   : 0px
}

.topbar .top-navbar .dropdown-toggle:after {
  display: none
}

.topbar .top-navbar .navbar-header {
  line-height: 60px;
  min-width  : 70px
}

.topbar .top-navbar .navbar-header .navbar-brand {
  margin-right  : 0px;
  padding-bottom: 0px;
  padding-top   : 0px
}

.topbar .top-navbar .navbar-header .navbar-brand img {
  max-width: 150px;
}

.topbar .top-navbar .navbar-header .navbar-brand b {
  line-height: 50px;
  display    : inline-block
}

.topbar .top-navbar .profile-pic {
  white-space: nowrap
}

.topbar .top-navbar .profile-pic img {
  width        : 30px;
  border-radius: 100%
}

.topbar .top-navbar .profile-pic span {
  font-size  : 14px;
  white-space: nowrap
}

.top-navbar .nav button {
  color: #111 !important;
}

.topbar .top-navbar .navbar-nav>.nav-item>.nav-link {
  padding-left : 15px;
  padding-right: 15px;
  font-size    : 25px;
  line-height  : 50px;
  color        : #777;
  padding-top  : 4px;
}

.topbar .top-navbar .navbar-nav>.nav-item>span {
  line-height: 45px;
  font-size  : 24px;
  font-weight: 500;
  color      : #fff;
  padding    : 0 10px;
}

.topbar .dropdown-menu {
  width          : 200px;
  border-radius  : 10px;
  box-shadow     : 1px 0px 20px #ddd;
  border         : none;
  background     : rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  transform      : translate(0px, 50px) !important;
}

.topbar #effect {
  padding: 0px;
}

.topbar .dropdown-item {
  padding    : 7px 20px;
  font-weight: 600;
  color      : #1A202C;
  font-size  : 0.9rem;
  transition : all 0.3s ease;
}

.topbar .dropdown-item:hover {
  background-color: #296DF1 !important;
  color           : white;
}


.nav ul,
.nav ul li {
  list-style: none;
}

.multi-lang-flag {
  max-width: 20px;
}

#basic-addon1 {
  max-height      : 30px;
  padding         : 10px;
  background-color: #F1F4F7;
  border          : none;
  border-radius   : 33px 0px 0px 33px;
}

.search-box {
  width        : 100%;
  padding      : 0px 10px;
  background   : #F1F4F7;
  border-radius: 33px;
  height       : 40px;
  position     : relative;

  button {
    background-color: transparent !important;
    box-shadow      : none !important;
    padding         : 0px !important;
    position        : absolute;
    left            : 13px;
    top             : 50%;
    transform       : translateY(-50%);
    line-height     : 1;
    color           : #296DF1;

    &.cancel-icon {
      left : unset;
      right: 13px;
      color: #777;
    }
  }

  input {
    width           : calc(100% - 80px);
    background-color: transparent;
    border          : 0px;
    height          : calc(100% - 10px);
    line-height     : 1;
    top             : 50%;
    position        : absolute;
    transform       : translateY(-50%);
    left            : 40px;
  }
}

.dropdown-menu.show {
  inset: 0px 0px auto auto !important;
}

#dropdown-basic:focus {
  border    : none !important;
  outline   : none !important;
  box-shadow: none !important;
}

.dropdown-divider {
  height: 2px;
}
.title{
  color: rgba(0, 0, 0, 0.7);
  font-weight: 800;
}