.table-toolbar {
  .search-input--wrapper {
    .input-group-prepend {
      .input-group-text {
        background  : #fff;
        padding     : 0.35rem 0rem 0.35rem 0.5rem;
        border-right: 0;
      }
    }

    input {
      border-left: 0;
      box-shadow : none !important;
    }

    &.hasValue {
      input {
        border-right: 0;
      }
    }

    .input-group-append {
      .input-group-text {
        background : #fff;
        padding    : 0.35rem;
        border-left: 0;
        cursor     : pointer;
      }
    }
  }

  input {
    &.form-control {
      &[readonly] {
        background-color: #fff;
      }
    }
  }
}